{% load socialaccount %}


<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">

<li>
  <a class="btn btn-warning"  title="Google" class="socialaccount_provider google" 
     href="/accounts/google/login/?process=login" role="button">Continue with Google</a>
</li>

<br>
<li>
  <a class="btn btn-primary" title="Facebook" class="socialaccount_provider facebook" 
     href="/accounts/facebook/login/?process=login" role="button">Continue with Facebook</a>
</li>

  </ul>

</div>

