{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
        <div class="form-group">
            <form method="POST" action="{{ action_url }}">
                {% if form.errors %}
      {% for field in form %}
      {% for error in field.errors %}
      <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
      {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
      <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
      {% endfor %}
      {% endif %}
                {% csrf_token %}
                <label for="id_password1">New Password:</label>
                 <input type="password" name="password1" placeholder="New Password" autocomplete="new-password" class="form-control" required id="id_password1">
                <label for="id_password2">New Password (again):</label>
                <input type="password" name="password2" placeholder="New Password (again)" class="form-control" required id="id_password2">
               <br>
                <input type="submit" class="btn btn-primary" name="action" value="{% trans 'change password' %}"/>
            </form>
            </div>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
    </div>
    </div>
{% endblock %}
