{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
    <div class="form-group">
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% if form.errors %}
      {% for field in form %}
      {% for error in field.errors %}
      <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
      {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
      <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
      {% endfor %}
      {% endif %}
        {% csrf_token %}
        <p><label for="id_email">E-mail:</label> 
        <input type="email" name="email" placeholder="E-mail address" autocomplete="email" class="form-control" required id="id_email"></p>
        <input type="submit" class="btn btn-primary" value="{% trans 'Reset My Password' %}" />
    </form>
    </div>
    <br>
    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>    
    </div>
    </div>
    {% endblock %}
