{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
    <h1>{% trans "Change Password" %}</h1>
    <div class="form-group"></div>
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% if form.errors %}
      {% for field in form %}
      {% for error in field.errors %}
      <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
      {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
      <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
      {% endfor %}
      {% endif %}
        {% csrf_token %}
    <label for="id_oldpassword">Current Password:</label>
    <input type="password" name="oldpassword" placeholder="Current Password" autocomplete="current-password" class="form-control" required id="id_oldpassword">
    <br>
    <label for="id_password1">New Password:</label>
    <input type="password" name="password1" placeholder="New Password" autocomplete="new-password" class="form-control" required id="id_password1">
    <br>
    <label for="id_password2">New Password (again):</label>
    <input type="password" name="password2" placeholder="New Password (again)" class="form-control" required id="id_password2">
    <br>
    <button type="submit" class="btn btn-primary" name="action">{% trans "Change Password" %}</button>
    </form>
    </div>
    </div>
{% endblock %}
